/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@400;500&display=swap');
body {
  margin: 0;
  padding: 0 0 98px;
  background-color: #fcfcfc;
}

/*Helpers*/

.m-0{
  margin: 0;
}

.container{
  padding: 0 10%;
}

/*Components*/

.header{
  margin: 0 0 70px;
  padding: 2.5% 10%;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  font-family: 'Libre Baskerville', sans-serif;
  color: #3b3b3b;
  font-size: 20px;
}

.tabs{
  text-align: center;
}

.tabs button{
  border-radius: 5px;
  border: solid 1px #d6d6d6;
  padding: .5% 3.75%;
  line-height: 1.75;
  background-color: transparent;
  color: #606060;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.tabs button:nth-child(1){
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tabs button:nth-child(2){
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tabs button.active{
  color: #1797ff;
  border-color: #1797ff;
}