/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@400;500&display=swap');
body {
  margin: 0;
  background-color: #fcfcfc;
}

/*Helpers*/

.m-0{
  margin: 0;
}

.container{
  padding: 0 10%;
}

.wrap{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

/*Components*/

.header{
  margin: 0 0 70px;
  padding: 2.5% 10%;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  font-family: 'Libre Baskerville', sans-serif;
  color: #3b3b3b;
  font-size: 20px;
}

.tabs{
  text-align: center;
}

.tabs button{
  border-radius: 5px;
  border: solid 1px #d6d6d6;
  padding: .5% 3.75%;
  line-height: 1.75;
  background-color: transparent;
  color: #606060;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.tabs button:nth-child(1){
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tabs button:nth-child(2){
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tabs button.active{
  color: #1797ff;
  border-color: #1797ff;
}

.dropbtn {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
  cursor: pointer;
  color: #343434;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img{
  height: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  box-shadow: 0 2px 2px 0 #dad8d8;
  background-color: #fff;
  overflow: hidden;
}

.dropdown-content div {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #343434;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-content div span{
  margin-left: 10px;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .dropbtn {
  opacity: 0.7;
}

.box{
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #6b6b6b;
  transition: .3s all ease;
  margin-bottom: 3.33%;
  position: relative;
  overflow: hidden;
}

.box:hover{
  opacity: 0.4;
  cursor: pointer;
}

.box span{
  font-size: 13px;
  margin-left: 5px
}

.box p{
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-top: .5rem;
  margin-bottom: 0;
}

.box .comment-box{
  padding: 1rem 1.75rem;
  margin-right: 15%;
}

.box .fav-box{
  background-color: rgb(96 96 96 / 10%);
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}

/*Responsive*/

@media (max-width: 760px) {

.box{
  width: 100%;
}

}